{% comment %}
  Unified references entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      {% if entry.icon %}
        <i class="{{ entry.icon }}"></i>
      {% endif %}
      <strong>{{ entry.name }}</strong>
      <p><span data-lang="en">{{ entry.reference | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% if entry.reference_zh %}<span data-lang="zh">{{ entry.reference_zh | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% endif %}</p>
    </li>
  {% endfor %}
</ul>
